{% for node in include.nodes %}
  {% assign item_level = include.level | default: 1 %}
  {% assign doc = node.doc %}
  {% assign has_children = false %}
  {% if node.children and node.children.size > 0 %}
    {% assign has_children = true %}
  {% endif %}
  {% assign active = false %}
  {% if node.url == page.url %}
    {% assign active = true %}
  {% endif %}
  {% assign has_active = false %}
  {% if node.active_urls contains page.url %}
    {% assign has_active = true %}
  {% endif %}
  {% assign collapsed = false %}
  {% if node.collapsed and has_active == false %}
    {% assign collapsed = true %}
  {% endif %}

  <div class="VPSidebarItem level-{{ item_level }} is-link{% if has_children %} collapsible{% endif %}{% if active %} is-active{% endif %}{% if has_active %} has-active{% endif %}{% if collapsed %} collapsed{% endif %}">
    <div class="item"{% if has_children %} aria-expanded="{% if collapsed %}false{% else %}true{% endif %}"{% endif %}>
      <div class="indicator"></div>
      <a class="VPLink link link" href="{{ node.url | relative_url }}" data-vp-sidebar-link data-turbo="true" data-turbo-frame="vp-content-frame" data-turbo-action="advance">
        <p class="text">{{ node.title | default: doc.title }}</p>
      </a>
      {% if has_children %}
        <div class="caret" role="button" aria-label="toggle section" tabindex="0" aria-expanded="{% if collapsed %}false{% else %}true{% endif %}">
          <span class="vpi-chevron-right caret-icon"></span>
        </div>
      {% endif %}
    </div>

    {% if has_children %}
      <div class="items">
        {% assign child_level = item_level | plus: 1 %}
        {% include sidebar_items.html nodes=node.children level=child_level %}
      </div>
    {% endif %}
  </div>
{% endfor %}
